*{
    font-family:monospace;
}
body{
    margin: 0;
    font-size:  20px;
    color: white;
    background-image: url('images/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
header{
    height:100vh;
    color: white;
    background-image: url('images/bg-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1{
    font-size: 50px;
    color: cornflowerblue;
}
header h1{
    color: white;
    margin:0 ;
}
.background-image{
    background-image: url("images/bg-img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


.button{
     height: 40px;
     width: 140px;
     border: blueviolet;
     border-radius: 10px;
     cursor: pointer;
}
.button:hover{
    color: bisque;
    background-color: rgb(0, 100, 98);
}
main{
    padding: 20px;
}
section{
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
}

.submit{
    height: 40px;
     width: 140px;
     border: blueviolet;
     border-radius: 10px;
     cursor: pointer;
     color: white;
     background-color: blue;
}
.submit:hover{
    color: rgb(0, 255, 191);
    background-color: rgb(106, 160, 95);
}

input{
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 15px;
}

.center-content{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    height: 100vh;
    flex-direction:column;
}
.center-page{
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}
.fixedbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
}
footer{
    height: 150px;
    background-color: black;
    color: burlywood;
}
